{% extends 'base.html.twig' %}

{% block title %}Detail éléve // ProNote
{% endblock %}

{% block body %}

    <table class="table table-hover" style="width: 50%; margin: 50px auto;">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Prénom</th>
                <th scope="col">Nom</th>
                <th scope="col">Classe</th>
                <th scope="col"></th>

            </tr>
        </thead>
        <tbody>
            {% for students in student %}

                <tr class="table-active">
                    <th>{{ students.id }}</th>
                    <th>{{ students.firstName }}</th>
                    <th>{{ students.lastName }}</th>
                    <th>{{ students.classRoom }}</th>
                    <th>
                        <a href="{{ path('studentDetail', { 'id': students.id }) }}">
                            <span class="badge badge-primary">Voir le fiche de l'élève</span>
                        </a>
                    </th>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

